* {
  padding: 0;
  margin: 0;
}

/* --- nav --- */
nav {
  width: 100%;
  background: linear-gradient(225deg, #d1ffff, #40b2d4);
  border-bottom: 1px solid black;
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 5px;
}

.logo {
  width: 150px;
  height: 70px;
}

#search {
  width: 290px;
  height: 25px;
  border-radius: 8px;
  padding: 2px 8px;
}

.iconoCarrito {
  width: 50px;
  height: 50px;
}

/* --- main --- */
h1 {
  text-align: center;
}

.divCategorias {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.botonCategoria {
  align-items: center;
  background-image: linear-gradient(40deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 90px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.botonCategoria:active {
  transform: scale(0.9);
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #dadada;
}

#productos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.producto {
  width: 184px;
  height: 280px;
  background: linear-gradient(125deg, rgb(209, 255, 255), rgb(64, 178, 212));
  margin: 15px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 1px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.producto img {
  width: 180px;
  height: 180px;
  border: 1px solid black;
  border-radius: 8px;
}

h3::first-letter {
  text-transform: uppercase;
}

.boton {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.boton:active {
  transform: scale(0.9);
}

/* --- Botones carrito --- */
#abrir {
  display: block;
  position: absolute;
  background: none;
  border: none;
  right: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.btnAbrir {
  display: flex;
  width: 50px;
  height: 50px;
  rotate: 268deg;
  position: absolute;
  left: 15px;
  top: 5px;
}

#cerrar {
  display: none;
  position: absolute;
  background: none;
  border: none;
  right: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.btnCerrar {
  display: flex;
  width: 50px;
  height: 50px;
  rotate: 88deg;
  position: absolute;
  left: 15px;
  top: 5px;
}

/* --- Carrito --- */
.carritoHidden {
  display: none;
  position: absolute;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  top: 75px;
  right: 0;
  background-color: white;
  width: 400px;
  max-height: 1000px;
  border: 1px solid black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  box-shadow: -16px 21px 46px 53px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -16px 21px 46px 53px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -16px 21px 46px 53px rgba(0, 0, 0, 0.52);
}

.tarjetaCarrito {
  width: 280px;
  height: 140px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  justify-content: space-evenly;
  background: linear-gradient(125deg, rgb(209, 255, 255), rgb(64, 178, 212));
  border-radius: 40px;
  box-shadow: 2px 2px 5px black;
}

.tarjetaCarrito img {
  width: 90px;
  height: 90px;
  border-radius: 8px;
}
.tarjetaCarrito div {
  width: 140px;
  height: 100px;
  display: flex;
  flex-flow: column wrap;
  padding: 5px;
  justify-content: space-around;
}

.tarjetaCarritoTotal {
  width: 170px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-top: 20px;
}

.btnPagar {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.btnPagar:active {
  transform: scale(0.9);
}

/* --- footer --- */

footer {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 175px;
  background-color: aquamarine;
  background: linear-gradient(125deg, rgb(209, 255, 255), rgb(64, 178, 212));
}

.divFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divIconos {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.iconos {
  width: 50px;
  height: 50px;
}

.qr {
  padding: 8px;
  width: 130px;
  height: 130px;
}

footer p {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 4px;
}

@media screen and (max-width: 684px) {
  .logo {
    width: 75px;
    height: 35px;
  }
  /* --- Footer --- */
  footer {
    width: 100%;
    height: 180px;
  }

  .divFooter {
    flex-direction: column;
  }

  .divIconos {
    padding-top: 5px;
  }

  .iconos {
    width: 20px;
    height: 20px;
  }

  .qr {
    width: 50px;
    height: 50px;
  }

  footer p {
    font-size: smaller;
  }
}

@media screen and (max-width: 530px) {
  /* --- Main --- */
  .divCategorias {
    width: 200px;
    justify-content: center;
  }

  .botonCategoria {
    font-size: 9px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 55px;
    padding: 3px;
    margin: 0 1px;
  }

  nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px 0 5px;
  }

  #search {
    width: 120px;
    height: 15px;
  }

  .iconoCarrito {
    width: 30px;
    height: 30px;
  }

  /* --- Botones carrito --- */
  #abrir {
    width: 20px;
    height: 20px;
    right: 15px;
  }

  .btnAbrir {
    width: 20px;
    height: 20px;
    right: 20px;
  }

  #cerrar {
    width: 20px;
    height: 20px;
    right: 15px;
  }

  .btnCerrar {
    width: 20px;
    height: 20px;
    right: 27px;
  }

  /* --- Carrito --- */
  .carritoHidden {
    width: 290px;
  }

  .tarjetaCarrito {
    width: 250px;
    height: 140px;
  }

  .tarjetaCarrito img {
    width: 70px;
    height: 70px;
  }
}
